/**
 *
 * Common styles
 *
 * @author Geert Ariën
 *
 */

/*********************************************
 * CLEARFIX
 *********************************************/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1; /* trigger hasLayout (for IE7) */
	_display: inline-block; /* IE6 ONLY */
}

/*********************************************
 * GENERAL
 *********************************************/

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    background: #fff repeat-y 50% 0;
}

header {
    margin-bottom: 50px;
    padding: 5px;
    color: #087676;
    background-color: #3AB4B4;
}

footer {
    width: 780px;
    margin: auto;
    padding: 5px;
    border-top: 1px solid #A61B1B;
    text-align: center;
    font-size: 0.8em;
    margin-top: 50px;
}

h1 {
    width: 780px;
    height: 150px;
    margin: 0 auto 0;
}

h1 a {
    display: block;
    width: 780px;
    height: 150px;
    background: transparent url(../img/logo.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: "times new roman", Georgia, times, serif;
    font-weight: 600;
}

h2 {
    font-size: 28px;
    line-height: 1;
}

h3 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
}

a:link {
    text-decoration:none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #A61B1B;
}

.watermark {
   color: #999;
}

/*********************************************
 * BODY  LAYOUT
 *********************************************/

#wrapper {
    width: 780px;
    margin: 0 auto;
}

#details {
    width: 500px;
    margin-right: 30px;
    float: left;
}

#navigation {
    width: 250px;
    float: left;
}

/*********************************************
 * DETAIL(LEFT)  LAYOUT
 *********************************************/

#routeName {
    display: none;
    width: 476px;
    padding: 12px;
    background-color: #5FD9D9;
    border: 1px solid #3AB4B4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
}

#newRouteTut {
    width: 490px;
    background-color: #FFC552;
    border: 1px solid #A61B1B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
}

#newRouteTut p {
    width: 230px;
    margin-right: 50px;
    float: left;
    line-height: 1.4;
}

#controls {
    width: 210px;
    float: left;
    line-height: 1.48;
}

#mapCanvas {
    height: 350px;
    width: 500px;
    position: relative;
    border:1px solid #A61B1B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0px;
    margin-bottom: 10px;
}

#mapCanvas span#distance {
    position: absolute;
    width: 50px;
    top: 5px;
    left: 0px;
    right: 0px;
    padding: 5px; 
    margin: auto; 
    z-index: 100;
    background: #FFF;
    color: #000;
    text-align: center;
    line-height: 1;
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 500;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    direction: ltr;
    overflow: hidden;
    cursor: default;
}

#chartCanvas {
    width: 490px;
    height: 240px;
    float: left;
    border: 1px solid #3AB4B4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #F4F6F6;
    padding: 5px;
    position: relative;
}

a.tooltip img {
    position: absolute;
    left: 6px;
    top: 6px;
}

a.tooltip span {
    display: none;
    position: absolute;
    top: 26px; 
    left: 26px;
    padding: 5px;  
    z-index: 100;
    background: #FFC552;
    border: 1px solid #c0c0c0;
    opacity: 0.8; 
    color: #000;
    text-align: left;
    font-size: 11px;
}

a.tooltip:hover span {
    display: block;
}

img.flickr {
    border: 1px solid #3AB4B4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 7px;
    vertical-align:top;
}

img.flickr:nth-child(3n) {
    margin-right: 0px;
}

/*********************************************
 * NAVIGATION(RIGHT)  LAYOUT
 *********************************************/

#newRoute {
    display: none;
    font-size: 24px;
    font-weight: bold;
}

#routeControls {
    width: 228px;
    float: left;
    background-color: #FFC552;
    border: 1px solid #A61B1B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

#inputName {
    width: 100%;
    height: 28px;
    font-size: 14px;
    margin-bottom: 10px;
}

#routeControls a {
    float: left;
    height: 18px;
    line-height: 18px;
    background: #f8f8f8;
    background:-webkit-gradient(linear, center bottom, center top, from(#cccccc), to(#ffffff));
    background:-moz-linear-gradient(top, #ffffff, #cccccc);
    -pie-background:linear-gradient(top, #ffffff, #cccccc);
    background:linear-gradient(top, #ffffff, #cccccc);
    border: 1px solid #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 2px #999;
    -moz-box-shadow: 0px 0px 2px #999;
    -webkit-box-shadow: 0px 0px 2px #999;  
    color: #02475A;
    cursor: pointer;
    font-size: 13px;
    padding: 4px;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
    margin-right: 5px;
}

a#reset {
    color: #2A6679;
}

#routeControls a:hover {
   color: #111;
   border: 1px solid #666;
   box-shadow: 0px 0px 5px #aaa;
   -moz-box-shadow: 0px 0px 5px #aaa;
   -webkit-box-shadow: 0px 0px 5px #aaa;  
}

#newRoute {
    display: none;
}

#errors {
    clear: left;
}

#errors li {
    font-size: 12px;
    margin-left: 20px;
    color: red;
    clear: left;
    list-style: disc;
}

#errors li:first-child {
    padding-top: 5px;
}

#routes {
    width: 228px;
    float: left;
    background-color: #5FD9D9;
    border: 1px solid #3AB4B4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
}

.item {
    width: 220px;
    background-color: #7AF4F4;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.item:hover {
    background-color: #8BFFFF;
    cursor: pointer;
}

.item.selected {
    background-color: #C3FFFF;
}

.item p {
    height: 30px;
    line-height: 30px;
}

